*{
    margin: 0;
    padding: 0;
}
#username,#password{
    width: 360px;
    font-size: 16px;
    height: 41px;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #ddd;
    line-height: 1.42857;
    margin-top: 20px;
}
#login_btn{
    width:240px;
    height: 40px;
    margin-top: 20px;
}
#reset_btn{
    width: 120px;
    height: 40px;
}
.header {
    font-size:40px;
    color: white;
    text-align: center;
    font-family: '楷体';
    line-height: 100px;
    top: 0;
    height: 100px;
    margin-top: 20px;
}
.loginWraper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background:  url(../images/admin-login-bg.jpg) no-repeat center;
}
.loginBox {
    position: absolute;
    width: 617px;
    height: 330px;
    left: 50%;
    top: 50%;
    margin-left: -309px;
    margin-top: -184px;
    padding-top: 38px;
}
.col-xs-1{
    min-height: 1px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 66.66666667%;
    margin: 0 auto;
}
.input-text {
    width: 360px;
    font-size: 16px;
    height: 41px;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #ddd;
    line-height: 1.42857;
}